#floating_btns_container {
  position: fixed;
  height: auto;
  width: auto;
  padding: 20px;
  left: 82%;
  top: 72%;
  z-index: 1000;
}

#btnYbr_yellow {
  background-color: #f9d938;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #17494d;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 200px;
  border: 0;
  margin: 10px 10px 10px 0px;
}

#btnYbr_yellow:hover {
  background: #e6c832;
}

#btnYbr_danger {
  background-color: rgb(255, 71, 66);
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 200px;
  border: 0;
  margin: 10px 10px 10px 0px;
}

#btnYbr_danger:hover {
  background: #f0413b;
}

#btnYbr_blue {
  background-color: #26585d;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 200px;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
  margin: 10px 10px 10px 0px;
}

#btnYbr_blue:hover {
  background: #1f494d;
}

.modal {
  --gap: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: var(--gap);
  background: rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
}

.modal__inner {
  background: #ffffff;
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  border-radius: 4px;
}

.modal__top {
  display: flex;
  align-items: center;
  background-color: #eeeeee;
}

.modal__title {
  flex-grow: 1;
  padding: 0 var(--gap);
  font-size: 18px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #103538;
}

.modal__close {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: var(--gap);
  background: none;
  border: none;
  outline: none;
}

.modal__content {
  padding: 0 var(--gap);
  padding-top: 10px;
  line-height: 1.5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.modal__bottom {
  text-align: right;
  padding: 0 var(--gap) var(--gap) var(--gap);
  padding: 15px;
  color: white;
}

.modal__button {
  display: inline-block;
  padding: 6px 12px;
  background: green;
  border: none;
  outline: none;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
}

.modal__button:not(:last-child) {
  margin-right: var(--gap);
}

.modal__button:hover {
  background: darkgreen;
}
